
  <form id="searchCity" >
 <div class="weather-home">
      <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-warning" type="button" ng-click="gps()">GPS</button>
                  </span>
                  <input type="search"  ng-model="city" placeholder="City" class="form-control"/>
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="recherche()">Recherche</button>
                  </span>
                </div>
            </div>
        </div>
  </div>
    
   <div id="result"> </div>
  
    </form>
